@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@300;400;500;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@300;400;500;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors: */
  --hover-border: #FFFFFF;
  --border: #707070;
  --background: #262626;
  --primary: #DF2339;
  /* Font/text values */
  --unnamed-font-family-montserrat: Montserrat;
  --unnamed-font-family-roboto: Roboto;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-23: 23px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-33: 33px;
}

/* Character Styles */
.copy-text {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--hover-border);
}

.titel {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-23);
  line-height: var(--unnamed-line-spacing-33);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--hover-border);
}

.name {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-33);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--hover-border);
}

.contactPage-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1389px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
}

.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 90px;
  background: #000000 0% 0% no-repeat padding-box;
}
.navbar-container .menu-logo-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  width: 98px;
  height: 23px;
}
.navbar-container .menu-logo-container:hover {
  cursor: pointer;
}
.navbar-container .menu-logo-container .menu-logo-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 34px;
  height: 22px;
  background: transparent url("../assets/BurgerMenuIcon/BurgerMenuIcon.png") 0% 0% no-repeat padding-box;
  background-size: contain;
  opacity: 1;
}
.navbar-container .menu-logo-container .menu-logo-text {
  position: absolute;
  top: 0px;
  left: 44px;
  width: 54px;
  height: 19px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 16px/30px var(--unnamed-font-family-montserrat);
  color: var(--hover-border);
  text-align: center;
  font-family: Montserrat;
  letter-spacing: 0.64px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.navbar-container .login-logo-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 26px;
  margin-top: 30px;
  width: 96px;
  height: 30px;
}
.navbar-container .login-logo-container:hover {
  cursor: pointer;
}
.navbar-container .login-logo-container .login-logo-img {
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent url("../assets/LoginIcon/LoginIcon.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.navbar-container .login-logo-container .login-logo-text {
  position: absolute;
  left: 40px;
  width: 56px;
  height: 19px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 16px/36px var(--unnamed-font-family-montserrat);
  color: var(--hover-border);
  text-align: left;
  font-family: Montserrat;
  letter-spacing: 0.64px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.contact-container {
  position: relative;
  top: 0;
  left: 0;
  top: 23px;
  left: 282px;
  width: 1356px;
  height: 1057px;
  background: #262626 0% 0% no-repeat padding-box;
  opacity: 1;
}
.contact-container .close-img {
  position: absolute;
  top: 0px;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  background: transparent url("../assets/CloseX/CloseX.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.contact-container .close-img:hover {
  cursor: pointer;
}
.contact-container .contact-title {
  position: absolute;
  top: 117px;
  left: 100px;
  width: 364px;
  height: 86px;
  margin: 0;
  text-align: left;
  font: normal normal 600 70px/80px Montserrat;
  letter-spacing: 2.8px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.contact-container .contact-subtitle {
  position: absolute;
  top: 213px;
  left: 100px;
  width: 577px;
  height: 37px;
  text-align: left;
  font: normal normal 600 30px/36px Montserrat;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}
.contact-container .options-container {
  position: absolute;
  top: 319px;
  left: 100px;
  width: 1156px;
  height: 376px;
}
.contact-container .options-container .cards-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.contact-container .options-container .cards-container .card-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 274px;
  height: 376px;
}
.contact-container .options-container .cards-container .card-container:hover .card-circle {
  border: 2px solid var(--hover-border);
  cursor: pointer;
}
.contact-container .options-container .cards-container .card-container:hover .card {
  border: 2px solid var(--hover-border);
  cursor: pointer;
}
.contact-container .options-container .cards-container .card-container .card-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 10;
  border-radius: 50%;
  background-color: #262626;
  border: 2px solid var(--border);
}
.contact-container .options-container .cards-container .card-container .card-circle .fas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #262626;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.contact-container .options-container .cards-container .card-container .card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25px;
  width: 274px;
  height: 351px;
  border: 2px solid var(--border);
  background: var(--background) 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.contact-container .options-container .cards-container .card-container .card .card-description {
  position: absolute;
  top: 38px;
  width: 122px;
  height: 28px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--hover-border);
  text-align: center;
  font: normal normal 600 23px/33px Montserrat;
  letter-spacing: 0px;
}
.contact-container .options-container .cards-container .card-container .card .card-img {
  position: absolute;
  top: 91px;
  width: 100px;
  height: 100px;
}
.contact-container .options-container .cards-container .card-container .card .grey-circle {
  position: absolute;
  top: 91px;
  width: 100px;
  height: 100px;
  background: var(--border) 0% 0% no-repeat padding-box;
  border-radius: 50%;
}
.contact-container .options-container .cards-container .card-container .card .card-name {
  position: absolute;
  top: 214px;
  color: var(--hover-border);
  text-align: left;
  font: normal normal medium 20px/33px Montserrat;
  font-family: Montserrat;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 1;
}
.contact-container .options-container .cards-container .card-container .card .card-position {
  position: absolute;
  top: 246px;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--hover-border);
  text-align: center;
  font: normal normal normal 18px/28px Roboto;
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  opacity: 1;
}
.contact-container .options-container .cards-container .card-container .card .card-number {
  position: absolute;
  display: flex;
  top: 277px;
  color: var(--hover-border);
  text-align: left;
  font: normal normal normal 18px/28px Roboto;
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
}
.contact-container .options-container .cards-container .card-container .card .card-number .number-digits {
  margin-left: 15px;
}
.contact-container .contact-btn-weiter {
  position: absolute;
  top: 854px;
  top: 741px;
  right: 100px;
  width: 216px;
  height: 54px;
  border: 2px solid var(--hover-border);
  font-family: Roboto;
  background-color: #262626;
  color: var(--hover-border);
  border-radius: 28px;
  transition: 0.2s;
}
.contact-container .contact-btn-weiter:hover {
  cursor: pointer;
  background-color: var(--hover-border);
  color: #262626;
  transition: 0.2s;
}
.contact-container .contact-btn-weiter-disabled {
  position: absolute;
  top: 854px;
  top: 741px;
  right: 100px;
  width: 216px;
  height: 54px;
  border: 2px solid var(--border);
  font-family: Roboto;
  background-color: #262626;
  color: var(--border);
  border-radius: 28px;
}

/*# sourceMappingURL=style.css.map */
