// $assets-path: "../assets";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@300;400;500;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@300;400;500;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors: */
    --hover-border: #FFFFFF;
    --border: #707070;
    --background: #262626;
    --primary: #DF2339;
    
    /* Font/text values */
    --unnamed-font-family-montserrat: Montserrat;
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-600: 600px;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-23: 23px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-28: 28px;
    --unnamed-line-spacing-33: 33px;
    }
    
    /* Character Styles */
    .copy-text {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--hover-border);
    }
    .titel {
    font-family: var(--unnamed-font-family-montserrat);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-600);
    font-size: var(--unnamed-font-size-23);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--hover-border);
    }
    .name {
    font-family: var(--unnamed-font-family-montserrat);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-33);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--hover-border);
    }

.contactPage-container{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1389px;
    background: #000000 0% 0% no-repeat padding-box;
    @media screen and (max-width: 1890px) {
        height: 1500px;
    }
    @media screen and (max-width: 830px) {
        height: 2350px;
    }
}

.navbar-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    // width: 1920px;
    width: 100%;
    height: 90px;
    background: #000000 0% 0% no-repeat padding-box;

    .menu-logo-container{
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 30px;
        margin-top: 30px;
        width: 98px;
        height: 23px;
        &:hover{
            cursor: pointer;
        }

        .menu-logo-img{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 34px;
            height: 22px;
            // transform: matrix(0.99, -0.14, 0.14, 0.99, 0, 0);
            background: transparent url('../assets/BurgerMenuIcon/BurgerMenuIcon.png') 0% 0% no-repeat padding-box;
            background-size: contain; //*
        }

        .menu-logo-text{
            position: absolute;
            top: 0px;
            left: 44px;
            width: 54px;
            height: 19px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 16px/30px var(--unnamed-font-family-montserrat);
            color: var(--hover-border);
            text-align: center;
            // font: normal normal medium 16px/30px Montserrat;
            font-family: Montserrat;//*
            letter-spacing: 0.64px;
            text-transform: uppercase;

            @media screen and (max-width: 350px) {
                opacity: 0;
            }
        }
    }

    .login-logo-container{
        position: relative;
        display: flex;
        align-items: center;
        // top: 30px;
        // left: 1797px;
        margin-right: 26px;
        margin-top: 30px;
        width: 96px;
        height: 30px;
        &:hover{
            cursor: pointer;
        }

        .login-logo-img{
            position: absolute;
            width: 30px;
            height: 30px;
            background: transparent url('../assets/LoginIcon/LoginIcon.png') 0% 0% no-repeat padding-box;
            opacity: 1;
        }

        .login-logo-text{
            position: absolute;
            left: 40px;
            width: 56px;
            height: 19px;
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 16px/36px var(--unnamed-font-family-montserrat);
            color: var(--hover-border);
            text-align: left;
            // font: normal normal medium 16px/36px Montserrat;
            font-family: Montserrat;
            letter-spacing: 0.64px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }


    
}

.contact-container{
    position: relative;
    top:0;
    left:0;
    top: 23px;
    // left: 282px;
    // width: 1356px;
    width: 71.2%;
    min-width: 280px;
    height: 1057px;
    // height: 100%;
    background: #262626 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1890px) {
        height: 85%;
    }

    .close-img{
        position: absolute;
        top: 0px;
        right: 0;
        margin-top: 20px;
        margin-right: 20px;
        width: 20px;
        height: 20px;
        background: transparent url('../assets/CloseX/CloseX.png') 0% 0% no-repeat padding-box;
        opacity: 1;
        &:hover{
            cursor: pointer;
        }
    }

    .contact-title{
        position: absolute;
        top: 117px;
        left: 100px;
        // width: 364px;
        // height: 86px;
        margin: 0;
        text-align: left;
        font: normal normal 600 70px/80px Montserrat;
        letter-spacing: 2.8px;
        color: #FFFFFF;
        text-transform: uppercase;

        @media screen and (max-width: 830px) {
            text-align: center;
            width: 100%;
            left: 0px;
            font-size: 40px;
        }
    }

    .contact-subtitle{
        position: absolute;
        top: 213px;
        left: 100px;
        // width: 577px;
        // height: 37px;
        text-align: left;
        font: normal normal 600 30px/36px Montserrat;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        text-transform: uppercase;

        @media screen and (max-width: 1100px) {
            font-size: 20px;
        }
        @media screen and (max-width: 830px) {
            font-size: 16px;
            width: 100%;
            text-align: center;
            left:0
        }
    }
    
    .options-container{
        position: absolute;
        top: 319px;
        left: 100px;
        // width: 1156px;
        width: 85.3%;
        height: 376px;
        
        @media screen and (max-width: 1600px) {
            left: 0;
            width: 100%;
        }

        .cards-container{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            @media screen and (max-width: 1890px) {
                display: grid;
                justify-items: center;
                grid-template-columns: 50% 50%;
            }
            @media screen and (max-width: 830px) {
                display: grid;
                justify-items: center;
                grid-template-columns: 100%;
            }

            .card-container{
                position: relative;
                display: flex;
                justify-content: center;
                width: 274px;
                height: 376px;   
                &:hover .card-circle{
                    border: 2px solid var(--hover-border); 
                    cursor: pointer;
                }
                &:hover .card{
                    border: 2px solid var(--hover-border); 
                    cursor: pointer;
                }

                .card-circle{
                    position: absolute;    
                    width: 50px;
                    height: 50px;
                    z-index: 10;
                    border-radius: 50%;
                    background-color: #262626; 
                    border: 2px solid var(--border);

                    .fas{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        color: #262626;
                        text-align: center;
                        font-size: 30px;
                        font-weight: 500;
                    }
                }

                .card{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    top: 25px;
                    width: 274px;
                    height: 351px;
                    border: 2px solid var(--border);
                    background: var(--background) 0% 0% no-repeat padding-box;
                    border-radius: 10px;

                    .card-description{
                        position: absolute;
                        top: 38px;
                        width: 122px;
                        height: 28px;
                        letter-spacing: var(--unnamed-character-spacing-0);
                        color: var(--hover-border);
                        text-align: center;
                        font: normal normal 600 23px/33px Montserrat;
                        letter-spacing: 0px;
                    }
                    .card-img{
                        position: absolute;
                        top: 91px;
                        width: 100px;
                        height: 100px;
                    }
                    .grey-circle{
                        position: absolute;
                        top: 91px;
                        width: 100px;
                        height: 100px;
                        background: var(--border) 0% 0% no-repeat padding-box;
                        border-radius: 50%;
                    }
                    .card-name{
                        position: absolute;
                        top: 214px;
                        color: var(--hover-border);
                        text-align: left;
                        font: normal normal medium 20px/33px Montserrat;
                        font-family: Montserrat;
                        font-size: 20px;
                        color: #FFFFFF;
                    }
                    .card-position{
                        position: absolute;
                        top: 246px;
                        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-roboto);
                        letter-spacing: var(--unnamed-character-spacing-0);
                        color: var(--hover-border);
                        text-align: center;
                        font-weight: 300;
                        color: #FFFFFF;
                        
                    }
                    .card-number{
                        position: absolute;
                        display: flex;
                        top: 277px;
                        color: var(--hover-border);
                        text-align: left;
                        font: normal normal normal 18px/28px Roboto; 
                        font-weight: 300;
                        color: #FFFFFF;

                        .number-icon{}

                        .number-digits{
                            margin-left: 15px;
                        }
                    }
                }
            }  
        }
    }

    .btn-weiter-container{
        width: 100%;
        text-align: center;

        .contact-btn-weiter{
            position: absolute;
            top: 741px;
            right: 100px;
            width: 216px;
            height: 54px;
            border: 2px solid var(--hover-border);
            font-family: Roboto;
            background-color: #262626;
            color: var(--hover-border);
            border-radius: 28px;
            transition: 0.2s;
            &:hover{
                cursor: pointer;
                background-color: var(--hover-border);
                color: #262626;
                transition: 0.2s;
            }
            @media screen and (max-width: 1890px) {
                position: relative;
                right: 0;
                top:1150px;
            }
            @media screen and (max-width: 830px) {
                position: relative;
                right: 0;
                top:1900px;
            }
        }
    }

    .btn-weiter-container-2{
        width: 100%;
        text-align: center;

        .contact-btn-weiter-disabled{
            position: absolute;
            top: 741px;
            right: 100px;
            width: 216px;
            height: 54px;
            border: 2px solid var(--border);
            font-family: Roboto;
            background-color: #262626;
            color: var(--border);
            border-radius: 28px;

            @media screen and (max-width: 1890px) {
                position: relative;
                right: 0;
                top:1150px;
            }
            @media screen and (max-width: 830px) {
                position: relative;
                right: 0;
                top:1900px;
            } 
        }
        
    }
    
    //PAGE 2: Contact Form 
    .contact-form{
        position: absolute;
        width: 100%;
        height: 100%;
        
        @media screen and (max-width: 1890px) {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
        }
        @media screen and (max-width: 1210px) {
            grid-template-columns: 100%;
        }

        .left-side-form{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 86px;
            left: 198px;
            @media screen and (max-width: 1890px) {
                position: static;
                margin-left: 20px;
                margin-top: 86px;
            }
            @media screen and (max-width: 650px) {
                margin-left: 0;
                align-items: center;
            }
            
            .back-button{
                display: flex;
                align-items: center;
                width: 15px;
                height: 24px;
                color:#FFFFFF;
                &:hover{
                    cursor: pointer;
                }
                @media screen and (max-width: 650px) {
                    width: 100px;
                }

                i{
                    font-size: 24px; // !!!
                }
                p{
                    width: 60px;
                    height: 26px;
                    text-align: center;
                    margin-left: 13px;
                    font-family: Roboto;
                    font-size: 20px;
                }
            }

            .form-title{
                margin: 0;                
                margin-top: 20px;
                width: 359px;
                height: 86px;
                color: var(--hover-border);
                text-align: left;
                // font: normal normal medium 70px/80px Montserrat;
                font: normal normal 600 70px/80px Montserrat;
                letter-spacing: 2.8px;
                text-transform: uppercase;
                @media screen and (max-width: 650px) {
                    font-size: 50px;
                }
                @media screen and (max-width: 650px) {
                    width: 100%;
                    text-align: center;
                 }
            }

            .form-person-chosen{
                display: flex;
                margin-top: 20px;
                .form-person-img{
                    width: 50px;
                    height: 50px;
                }
                .grey-circle{
                    width: 50px;
                    height: 50px;
                    background: var(--border) 0% 0% no-repeat padding-box;
                    border-radius: 50%;
                }
                .form-person-name{
                    display: flex;
                    align-items: center;
                    margin-left: 25px;
                    color: var(--hover-border);
                    text-align: left;
                    // font: normal normal medium 20px/33px Montserrat;
                    font-size: 20px;
                    font-family: Montserrat;
                    @media screen and (max-width: 650px) {
                        font-size: 16px;
                    }
                }
            }

            .form-question{
                width: 338px;
                height: 76px;
                margin-top: 40px;
                color: var(--hover-border);
                text-align: left;
                font: normal normal 600 20px/26px Montserrat;
                @media screen and (max-width: 650px) {
                    width: 270px;
                    font-size: 18px;
                }
            }

            .form-inputs{
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                .email{
                    width: 372px;
                    height: 39px;
                    padding-left: 10px;
                    border: 1px solid var(--border);
                    background-color: #262626;
                    font: normal normal normal 16px/28px Roboto;  
                    color: #FFFFFF;                  
                    &::placeholder{
                        color: #FFFFFF;
                        font-weight: 300;
                    }
                    @media screen and (max-width: 650px) {
                        width: 270px;
                    }
                }

                .full-name{
                    width: 372px;
                    height: 39px;
                    margin: 10px 0;
                    padding-left: 10px;
                    border: 1px solid var(--border);
                    background-color: #262626;
                    font: normal normal normal 16px/28px Roboto;  
                    color: #FFFFFF;                  
                    &::placeholder{
                        color: #FFFFFF;
                        font-weight: 300;
                    }
                    @media screen and (max-width: 650px) {
                        width: 270px;
                    }
                }

                .textfield{
                    width: 372px;
                    height: 324px;
                    padding: 8px 10px;
                    border: 1px solid var(--border);
                    background-color: #262626;
                    font: normal normal normal 16px/28px Roboto;  
                    color: #FFFFFF;                  
                    &::placeholder{
                        color: #FFFFFF;
                        font-weight: 300;
                    }
                    @media screen and (max-width: 650px) {
                        width: 270px;
                    }
                }
            }
        }

        .right-side-form{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 352px;
            left: 688px;
            @media screen and (max-width: 1890px) {
                position: static;
                margin-left: 20px;
                margin-top: 352px;
            }
            @media screen and (max-width: 1210px) {
                margin-top: 20px;
            }
            @media screen and (max-width: 830px) {
                margin-bottom: 800px;
            }
            @media screen and (max-width: 650px) {
                align-items: center;
                margin-left: 0;
            }

            .text-frage{
                width: 338px;
                height: 24px;
                color: var(--hover-border);
                text-align: left;
                font: normal normal 600 20px/26px Montserrat;
                @media screen and (max-width: 650px) {
                    text-align: center;
                }
                @media screen and (max-width: 650px) {
                    width: 280px;
                    font-size: 18px;
                }
            }
            .buttons-call{
                display: flex;
                align-items: center;
                margin-top: 16px;
                color:#FFFFFF;
                font-family: var(--unnamed-font-family-montserrat);
                .text-jup,
                .text-nope{
                    margin-left:5px ;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .button-yes-container{
                    display: flex;
                    align-items: center;
                    opacity: 0.5;
                    &.active{
                        opacity: 1;
                    }
                    .button-yes{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        background: #4CAF50 0% 0% no-repeat padding-box;
                        border-radius: 20%;
                        i{
                            color:#FFFFFF;
                            font-size: 24px;
                            font-weight: 400;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .button-no-container{
                    display: flex;
                    align-items: center;
                    opacity: 0.5;
                    &.active{
                        opacity: 1;
                    }
                    .button-no{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        margin-left: 49px;
                        background: #F44336 0% 0% no-repeat padding-box;
                        border-radius: 20%;
                        i{
                            color:#FFFFFF;
                            font-size: 24px;
                            font-weight: 400;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
            .contact-number{
                width: 371px;
                height: 39px;
                margin-top: 24px;
                padding-left: 10px;
                border: 1px solid var(--border);
                background-color: #262626;
                font: normal normal normal 16px/28px Roboto;  
                color: #FFFFFF;                  
                &::placeholder{
                    color: #FFFFFF;
                    font-weight: 300;
                }
                @media screen and (max-width: 650px) {
                    width: 270px;
                }  
            }
            .appointment-date{
                width: 371px;
                height: 39px;
                margin-top: 10px;
                padding-left: 10px;
                border: 1px solid var(--border);
                background-color: #262626;
                font: normal normal normal 16px/28px Roboto;  
                color: #FFFFFF;                  
                &::placeholder{
                    color: #FFFFFF;
                    font-weight: 300;
                }
                @media screen and (max-width: 650px) {
                    width: 270px;
                }  
            }
            .text-1{
                width: 371px;
                height: 45px;
                margin-top: 38px;
                color: var(--hover-border);
                text-align: left;
                // font: normal normal normal 16px/26px Roboto;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 300;
                @media screen and (max-width: 650px) {
                    width: 270px;
                    font-size: 15px;
                }
            }
            .text-2{
                width: 247px;
                height: 19px;
                margin-top: 20px;
                color: var(--hover-border);
                text-align: left;
                font: normal normal 600 16px/26px Montserrat;
                &:hover{
                    cursor: pointer;
                }
            }
            .send-form-button{
                position: absolute;
                top:314px;
                width: 338px;
                height: 54px;
                margin-top: 20px;
                background: var(--primary) 0% 0% no-repeat padding-box;
                border-radius: 28px;
                border: none;
                color: var(--hover-border);
                font: normal normal 20px/28px Roboto;
                &:hover{
                    cursor: pointer;
                    background: #ff223c;
                }
                @media screen and (max-width: 1890px) {
                    top:670px;
                }
                @media screen and (max-width: 1210px) {
                    position: static;
                    margin-top: 20px;
                }
                @media screen and (max-width: 650px) {
                    text-align: center;
                    width: 280px;
                }
            }
            .text-3{
                position: absolute;
                top:382px;
                width: 338px;
                height: 86px;
                margin-top: 14px;
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/18px var(--unnamed-font-family-roboto);
                color: var(--hover-border);
                text-align: left;
                @media screen and (max-width: 1890px) {
                    top:740px;
                }
                @media screen and (max-width: 1210px) {
                    position: static;
                    margin-top: 20px;
                }
                @media screen and (max-width: 650px) {
                    text-align: center;
                    width: 280px;
                }
            }
        }
    }
}






